@charset"utf-8";

/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * software desenvolvido por Igor O. Cardoso
 */


:root {

  /**
   * colors
   */

  --main-color-blue-dark-tone: rgb(0,95,198);
  --main-color-blue: rgb(0,122,255);
  --main-color-blue-transparent-tone: #b4e2f5;
  --_w800_main-color-blue-transparent-tone: rgb(226,243,250);
  --color-text: rgb(0,0,0);
  --color-text-two: rgb(155,155,155);
  --main-background: #f2f2f2;
  --second-background: #ededed;
  --second-background-transparent: rgba(226,229,234,0.634);
  --main-color-theme: rgb(255,255,255);
  --Mensalidadepaga: rgb(38,255,38);
  --Mensalidadependente: rgb(255,81,81);

  /**
   * status display
   */

  --none-none: none;
  --none: none;
  --plus-none: block;

  /**
   * animations
   */

  --animation-top-popup: popup-top 1s ease-in-out forwards;
  --animation-bottom-popup: popup-bottom 0.7s ease-in-out forwards;
  --animation-left-popup: popup-left 1.2s ease-in-out forwards;
  --animation-retorno: slideInOut 2s ease-in-out forwards;
  --animation-retorno-1: slideInOut 2.1s ease-in-out forwards;
  --animation-retorno-2: slideInOut 2.3s ease-in-out forwards;
  --animation-retorno-3: slideInOut 3.1s ease-in-out forwards;
  --animation-retorno-4: slideInOut 3.3s ease-in-out forwards;
  --animation-retorno-5: slideInOut 3.9s ease-in-out forwards;
  --animation-retorno-6: slideInOut 4.1s ease-in-out forwards;
  --animation-retorno-7: slideInOut 4.1s ease-in-out forwards;
  --animation-retorno-8: slideInOut 1s ease-in-out infinite;

  /**
    * transition dalay
    */

  --transitions: 1s left,1s width,1s opacity,1s;
}

/*-----------------------------------*\
  #keyframes
\*-----------------------------------*/


@keyframes slideInOut {

  0%,
  45%,
  100% {
    visibility: hidden;
    display: none;
  }

  50%,
  100% {
    visibility: visible;
    display: block;
  }

}


@keyframes popup-left {

  0%,
  45% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(calc(-20%));
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }

}

@keyframes popup-bottom {

  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(calc(0));
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(-99%);
  }

}

@keyframes popup-right {

  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(calc(100%));
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }

}

@keyframes popup-top {

  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(calc(-20%));
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

}


* {
  margin: 0;
  padding: 0;
}

body {
  background: #b9b9b9;
  color: #ffffff;
}

.circle-top-one {
  padding: 12rem;
  border-bottom-left-radius: 100%;
  border: 0;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  background: 0;
  /*
  background: var(--second-light-background);*/
  z-index: 10;
}

.circle-top-two {
  padding: 9rem;
  border-bottom-right-radius: 100%;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  background: #ffffff;
  z-index: 10;
}

.circle {
  position: absolute;
  top: 47%;
  left: 1rem;
  padding: 2rem;
  border-radius: 100%;
  background: linear-gradient(-26deg, rgb(179,225,244) 50%, rgb(0,173,246) 100%);
  list-style-type: none;
}

.circle-bottom-one {
  padding: 6rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 50%;
  border: 0;
  position: fixed;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  background: #000;
  z-index: 10;
}

.circle-bottom-two {
  padding: 9rem;
  border-top-right-radius: 100%;
  border: 0;
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  background: rgb(123,0,255);
  background-image: linear-gradient(-26deg, rgb(179,225,244) 50%, rgb(0,173,246) 100%);
  z-index: 10;
}

.comand {
  border-radius: 8em;
  border: 0;
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  font-weight: 800;
}
/*
.gradient {
  background: rgba(0,0,0,);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.0) 0, rgba(0, 0, 0, 0) 2%, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
*/
.conteiner {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 480px;
  text-align: center;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  z-index: 13;
}

.name-assistent {
  animation: var(--animation-left-popup);
  transition: var(--transitions);
}

.search {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}

#speakbt {
  animation: var(--animation-top-popup);
  transition: var(--transitions);
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 8em;
  border: 0;
  margin: auto;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#speakbt:active {
  background-color: #ECF7F3;
}

#resultSpeak {
  position: relative;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 40px;
  font-family: Sans-Serif;
}

@media screen and (max-width: 600px) {}